* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightblue;
}

.anshul {
    margin: 10px;
    width: 500px;
    padding: 20px;
    box-shadow: 0 2px 20px red;
}